{{!< default}}

<header class="header-home">
  <h1 class="header-home__title">{{@blog.title}}</h1>
</header>

<main class="content-home">
  {{! Each post will be output using this markup }}
  {{#foreach posts}}
    <article class="post {{post_class}}">
      <header class="post__header">
        <h2 class="post__title">
          <a href="{{url}}">{{{title}}}</a>
        </h2>

        <time class="post___time" datetime="{{date format='YYYY-MM-DD'}}">
          {{date format="DD MMM YYYY"}}
        </time>

        {{#if tags}}
          <span class="post__tags"> // {{tags}}</span>
        {{/if}}
      </header>
      <section class="post__excerpt">
        <p>{{excerpt}}&hellip;</p>
      </section>
    </article>
  {{/foreach}}
</main>
